*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    text-align: center;
    position: fixed;
    background: rgba(236, 233, 233, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 3px rgba(0,0,0,0.50);
    width: 100%;
    padding: 20px;
    z-index: 100;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.navbar a{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.header{
    padding: 4rem;
    text-align: center;
    font-size: 25px;
}
.home{
    background-image: url(banner-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-text h1{
    font-size: 5rem;
}
.new{
    background: #fff;
    width: 100%;
    height: 200%;
}
.new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 260px, 1fr));
    gap: 1.5rem;
    margin: 10px;
}
.new-box{
    width: 300px;
    background: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.50);
    border: 1px solid rgba(0,0,0,0.50);
    overflow: hidden;
    border-radius: 10px;
}
.new-box h1{
    margin: 10px;
}
.new-box img{
    width: 100%;
    height: 20rem;
}
.new-box:hover img{
    transform: scale(1.1);
}
.new-box .new-box-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.new-box .new-box-btn h4{
    font-size: 20px;
    font-weight: 600;
}
.new-box .new-box-btn .new-btn{
    width: 100px;
    height: 40px;
    background: none;
    border-radius: 50px;
    border: 1px solid #feada6;
    transition: 0.4s;
}
.new-box-btn .new-btn:hover{
    background: #feada6;
    color: #fff;
    transition: 0.4s;
}
.shop{
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to right, #feada6, #f5efef)
}
.shop .shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.shop-box{
    flex: 20rem;
    margin: 20px;
    padding: 5px;
    background: none;
}
.shop-box img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: 10px;
}
.products{
    width: 100%;
    height: 200%;
    background: #fff;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
}
.products-container .products-box{
    flex: 1 1 20rem;
    background: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.50);
    border-radius: 10px;
    margin: 20px;
    padding: 6px;
    border: 1px solid rgba(0,0,0,0.50);
    overflow: hidden;
}
.products-box h1{
    margin: 10px;
}
.products-box img{
    width: 100%;
    height: 26rem;
}
.products-box:hover img{
    transform: scale(1.1);
}
.products-box .product-text{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-text h4{
    font-size: 20px;
    font-weight: 600;
}
.products-box .product-text .product-btn{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: none;
    transition: 0.4s;
    border: 1px solid #feada6
}
.product-text .product-btn:hover{
    background: #feada6;
    color: white;
    transition: 0.4s;
}
.blog{
    width: 100%; 
    height: 460px;
    background: none;
}
.blog .blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 260px, 1fr));
    gap: 1.5rem;
    margin: 10px;
}
.blog-box{
    width: 300px;
    background: none;
    padding: 6px;
}
.blog-box img{
    width: 100%;
    height: 10rem;
    border-radius: 10px;
}


@media (max-width: 302px){
    .home-text h1{
        font-size: 1.6rem;
    }
    .home-text p{
        font-size: 1rem;
    }
}